<div *ngIf="selectedProduct">
    
    <div class="productDescBox">
        <div class="productHeading">  
            <span class="badge productId">{{selectedProduct.id}}</span> <strong class="productId">&nbsp; {{selectedProduct.name}}</strong>
            <strong class="badge productPrice">${{selectedProduct.price}}</strong>
        </div>
        <div class="productImage">  
                <img class="image" width="300" height="300" src={{selectedProduct.src}} (click)="open()"/>
        </div>
        <div class="productDesc">
            <p>{{selectedProduct.desc}}</p>
        </div>
        <div class="productQty">
            <input type="number" min="1" class="form-control" id="qtyInput" [(ngModel)]="quantity" placeholder="Quantity">
        </div>
        <div class="productButton">
            <hr>
            <div class="row">
                <button (click)="addToCart(selectedProduct)" class="btn btn-md btn-success">Add to Cart</button>
                <button (click)="goBack()" class="btn btn-md btn-danger">BACK</button>
            </div>
        </div>
    </div>

</div>