  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      	<div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
        	<a class="navbar-brand page-scroll" ><img class="logo" src="../assets/img/LogoSentence_Yellow30px.png" alt="Hot Sauce Media Logo"/></a>
        </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
 
                  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" [routerLink]="['services']">Services</a>
                  </li>
                  <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" [routerLink]="['products']">Products</a>
                  </li>
                  <li *ngIf="frameworkConfigService.showUserControls" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" [routerLink]="['profile']">Profile</a>
                  </li>
                  <li *ngIf="!frameworkConfigService.showUserControls" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" [routerLink]="['login']">Login</a>
                  </li>
                  <li *ngIf="!frameworkConfigService.showUserControls" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" [routerLink]="['register']">Register</a>
                  </li>


                  <li *ngIf="frameworkConfigService.showUserControls" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="page-scroll" href="" (click)="onLogoutClick()">Logout</a>
                  </li>

                  <li>
                    <a class="page-scroll"[routerLink]="['/cart']"><span class="fa fa-shopping-cart fa-lg" aria-hidden="true"></span></a>
                  </li>
                  <li >
                   <a><img  *ngIf="userApi.isLoggedIn()" class="img-circle vertical-align" [src]="userApi.getImageURL()"> </a>
                  </li>         
                  <li>
                    <div class="flag" *ngIf="frameworkConfigService.showLanguageSelector">
                    <img class="flag-image page-scroll" src="assets/img/englishFlag.jpg" alt="Flag">
                    <span></span><span class="glyphicon glyphicon-chevron-down"></span>
                  </div>
                  </li>
                  <li class="vertical-center" *ngIf="totalPrice">
                    <!--<div class="thumbnail price">-->
                    <span class="badge"> <strong>Total Items: </strong> {{ totalQuantity }} ,<strong> Total Price: ${{ totalPrice }}</strong></span> 
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
